@font-face {
    font-family: sf-pro;
    src: url(fonts/sf-pro/SF-Pro.ttf);
}

body {
    margin: 0;
    font-family: sf-pro;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-bottom: 1px solid #ffffff33;
    color: white;
    background-color: #000000ee;
}

header img {
    height: 32px;
    width: 32px;
}

header p {
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 0 5px;
}


/* Bar */
#header {
    position:sticky;
    top: -1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-bottom: 1px solid #00000033;
    color: white;
    background-color: #000000ee;
    /*background-image: linear-gradient(30deg, #ff005d66, #ff539233); /*header bg*/
}


#heading {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}


#header h1 {
    margin: 0 5px;
    font-size: 28px;
}

#header nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#header nav ul li {
    list-style: none;
    margin: 0 5px;
    padding: 5px;
}

#header nav ul li a {
    text-decoration: none;
    color: white;
}

#header nav ul li a:hover {
    text-decoration: underline;
}

#menu-btn {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 5px 10px 0 10px;
    display: none;
}

#menu-btn:hover {
    background-color: #ffffff33;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
}

#line-one {
    position: absolute;
    border: 2px solid white;
    width: 32px;
    border-radius: 4px;
    top: 8px;
}

#line-two {
    position: absolute;
    border: 2px solid white;
    width: 32px;
    border-radius: 4px;
    top: 16px;
}

#line-three {
    position: absolute;
    border: 2px solid white;
    width: 32px;
    border-radius: 4px;
    top: 24px;
}

@media (max-width: 600px) {
    #header nav {
        display: none;
    }
    #menu-btn {
        display: block;
    }
}

#no-space {
    position: fixed;
    height: 1px;
    right: 10px;
    margin-top: 10px;
}

#menu {
    position: sticky;
    margin: 0;
    padding: 0;
    text-align: center;
    visibility: hidden;
}

#menu li {
    list-style: none;
    margin: 0;
    padding: 10px 25px;
    background-color: #ffffff33;
    border: 1px solid #00000044;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

#menu li:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#menu li:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    background-color: #ff0000aa;
}

#close:hover {
    cursor: pointer;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    text-decoration: underline;
}

/* Main Content */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}

#portion {
    display: flex;
    justify-content: center;
    align-items: center;
}

#portion button {
    border: none;
    border-radius: 10px;
    height: 30px;
}

#portion button:hover {
    background-color: #000000;
    color: white;
    transition: color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

main div {
    padding: 10px;
    margin: 20px;
    background-color: #ffffff33;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000044;
}

main div img {
    width: 280px;
    border-radius: 20px 20px 0 0;
}

main a button {
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 18px;
    border: solid 1px #ffffff33;
    color: white;
    background-color: #000000;
    box-shadow: 0 0 10px #00000044;
}

main a button:hover {
    color: #000000;
    background-color: #ffffff;
    transition: color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
}

#pay form input{
    margin: 10px;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid rgba(183, 68, 255, 0.6);
}

/* Footer */

footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

#company {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

footer img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

footer ul li a img {
    width: 24px;
    height: 24px;
}

#address {
    padding-bottom: 20px;
    color: grey;
    font-size: 12px;
}

.reserve {
    padding: 0;
    margin: 0;
    font-size: 11px;
    color: grey;
}

.reserve a:hover {
    text-decoration: underline;
}